$('#{{name}}').highcharts('StockChart', {
    chart: {
        type: '{{type}}',
        zoomType: 'x'
    },
    xAxis: {
        type: 'datetime'
    },
    yAxis: [{{#yAxis}}
        {
            min: {{min}},
            max: {{max}},
            title: {
                text: '{{title}}',
                style: {
                    color: Highcharts.getOptions().colors[{{index}}]
                }
            },
            labels: {
                format: '{value} {{format}}',
                    style: {
                        color: Highcharts.getOptions().colors[{{index}}]
                    }
                },
            style: {
                color: Highcharts.getOptions().colors[{{index}}]
            },
            opposite: {{index}},
        },
    {{/yAxis}}],
    tooltip: {
        headerFormat:       '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat:        '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat:       '</table>',
        shared: true,
        useHTML: true
    },
    series: [
        {
            name: {{seriesName}}[0].name,
            data: {{seriesName}}[0].data,
            dataGrouping: {
                forced: true,
                approximation: 'sum',
                groupPixelWidth: 50
            },
            yAxis: 0
        },
        {
            name: {{seriesName}}[1].name,
            data: {{seriesName}}[1].data,
            dataGrouping: {
                forced: true,
                approximation: 'sum',
                groupPixelWidth: 50
            },
            yAxis: 1
        }
    ]
});
