if (data.data[1] == 0) {
    document.getElementById('{{id}}').setAttribute("class", "label label-danger");
}
else {
    document.getElementById('{{id}}').setAttribute("class", "label label-success");
}