$('#{{graphName}}').highcharts('StockChart', {
  chart: {
      type: '{{graphType}}',
      zoomType: 'x'
  },
  title: {
    text: '{{graphTitle}}'
  },
  xAxis: {
      type: 'datetime'
  },
  yAxis:
  {{^scatter}}
    [
      {{#yAxes}}
        {
          min: {{minValue}},
          max: {{maxValue}}, 
          title: {
             text: '{{title}}',
             style: {
                 color: Highcharts.getOptions().colors[{{index}}]
             }
          },
          labels: {
             format: '{value} {{unit}}',
             style: {
                 color: Highcharts.getOptions().colors[{{index}}]
             }
          },
          style: {
             color: Highcharts.getOptions().colors[{{index}}]
          },
          opposite: {{index}},
          plotLines: [
            {
            {{#plotLine}}
              "value": {{value}},
              "color": '{{color}}',
              "dashStyle": '{{dashStyle}}',
              "width": {{width}},
              "label":
                {{#label}}
                {
                  text: '{{text}}'
                }
                {{/label}}
            {{/plotLine}}
            }
          ]
        }{{coma}}
      {{/yAxes}}
    ],
  {{/scatter}}
  {{#scatter}}
    {
      categories: ["Closed","Open"],
      opposite: false
    },
  {{/scatter}}
  tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat:    '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
      '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
  },
  series: 
    {{^defineMultipleAxes}}
      {{seriesArrayName}}
    {{/defineMultipleAxes}}
    {{#defineMultipleAxes}}
      [
      {{#series}}
        {
          name: {{seriesArrayName}}[{{serieIndex}}].name,
          data: {{seriesArrayName}}[{{serieIndex}}].data,
          dataGrouping: {
            forced: true,
            approximation:'{{approxType}}',
            groupPixelWidth: {{grpPixelNb}}
          },
          yAxis: {{serieIndex}},
          type: '{{vizType}}'
        }{{coma}}
      {{/series}}
      ]
    {{/defineMultipleAxes}}
});