<div class="row">
<div id="left1" class="{{widgetWidth}} text-center">
<div id="right1" class="{{widgetWidth}} text-center">
</div>
<div class="row">
<div id="left2" class="{{widgetWidth}}" style="height: 400px; min-width: 310px">
<div id="right2" class="{{widgetWidth}}" style="height: 400px; min-width: 310px">
</div>
<div class="row">
<div id="left3" class="{{widgetWidth}}" style="height: 400px; min-width: 310px">
<div id="right3" class="{{widgetWidth}}" style="height: 400px; min-width: 310px">
</div>