<div class="row">
	<div id="left1" class="{{widgetWidth}} text-center"></div>
	<div id="right1" class="{{widgetWidth}} text-center"></div>
</div>
<div class="row">
	<div id="left2" class="{{widgetWidth}}" style="height: 400px; min-width: 310px"></div>
	<div id="right2" class="{{widgetWidth}}" style="height: 400px; min-width: 310px"></div>
</div>
<div class="row">
	<div id="left3" class="{{widgetWidth}}" style="height: 400px; min-width: 310px"></div>
	<div id="right3" class="{{widgetWidth}}" style="height: 400px; min-width: 310px"></div>
</div>