<div class="row">
	<div id="{{idList.widgetId1}}" class="{{widgetWidth}} text-center"></div>
</div>
<div class="row">
    <div id="{{idList.widgetId1}}" class="{{widgetWidth}} text-center"></div>
</div>
<div class="row">
    <div id="{{idList.widgetId1}}" class="{{widgetWidth}} text-center"></div>
</div>
