var mapSVGDiv = $(document.createElement("div"));
mapSVGDiv.attr("id", "{{graphName}}map");
mapSVGDiv.appendTo($("#{{graphName}}"));
mapSVGDiv.after(' <h3>Caption :</h3>'+
'<div class="col-md-4">'+
   '<img class="sensorIcon" src="/assets/images/sensorIcons/door.png"/>Door sensor'+
'</div>'+
'<div class="col-md-4">'+
   '<img class="sensorIcon" src="/assets/images/sensorIcons/sound.png"/>Sound sensor'+
'</div>'+
'<div class="col-md-4">'+
   '<img class="sensorIcon" src="/assets/images/sensorIcons/ac.png"/>AC sensor'+
'</div>'+
'<div class="col-md-4">'+
   '<img class="sensorIcon" src="/assets/images/sensorIcons/heating.png"/>Heating sensor'+
'</div>'+
'<div class="col-md-4">'+
   '<img class="sensorIcon" src="/assets/images/sensorIcons/energy.png"/>Energy sensor'+
'</div>'+
'<div class="col-md-4">'+
   '<img class="sensorIcon" src="/assets/images/sensorIcons/window.png"/>Window sensor'+
'</div>'+
'<div class="col-md-4">'+
   '<img class="sensorIcon" src="/assets/images/sensorIcons/light.png"/>Light sensor'+
'</div>'+
'<div class="col-md-4">'+
   '<img class="sensorIcon" src="/assets/images/sensorIcons/temperature.png"/>Temperature sensor'+
'</div>');
load_svg("/assets/plan_T1_4e.svg", "{{graphName}}map", {{seriesArrayName}}, put_sensors, {
   "door": "/assets/images/sensorIcons/door.png",
   "window": "/assets/images/sensorIcons/window.png",
   "light": "/assets/images/sensorIcons/light.png",
   "temp": "/assets/images/sensorIcons/temperature.png",
   "heating": "/assets/images/sensorIcons/heating.png",
   "ac": "/assets/images/sensorIcons/ac.png",
   "energy": "/assets/images/sensorIcons/energy.png",
   "sound": "/assets/images/sensorIcons/sound.png"
});