$('{{name}}').highcharts('StockChart', {
    chart: {
        type: '{{type}}',
        zoomType: 'x'
    },
    xAxis: {
        type: 'datetime'
    },
    yAxis: [{
        title: {
            text: '{{yAxis}}'
        },
        minTickInterval: 1,
        plotLines: [{
            value: 0,
            color: 'red',
            dashStyle: 'shortdash',
            width: 2,
            label: { text: '0 °C'}
        }]
    }, {}],
    tooltip: {
        headerFormat:   '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat:    '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat:   '</table>',
        shared: true,
        useHTML: true
    },
    series: {{seriesName}}
});