<div class="row" style="width : 100%; height: 100vh">
        <div class="col-md-6 connectedSortable apc_column">
            <div class="apc_column--content">
                <div class="apc_inner_item">
                    <div class="theWidget" id="left1"></div>
                    <div class="widgetTitle"><h3></h3></div>
                </div>
                <div class="apc_inner_item">
                    <div class="theWidget" id="left2"></div>
                    <div class="widgetTitle"><h3></h3></div>
                </div>
            </div>

        </div>
        <div class="col-md-6 connectedSortable apc_column">
            <div class="apc_column--content">
                <div class="apc_inner_item">
                    <div class="theWidget" id="right1"></div>
                    <div class="widgetTitle"><h3></h3></div>
                </div>
                <div class="apc_inner_item">
                    <div class="theWidget" id="right2"></div>
                    <div class="widgetTitle"><h3></h3></div>
                </div>
            </div>

        </div>
</div>