

/*This class is each part title : for intentions, widget boxes and sensors*/
.indexTitle {
    min-height : 110px;
    padding : 0 40px 0 40px;
    text-align: center;
    text-justify: inter-word;
}

.well.col-md-10.ui-droppable.myActiveDroppable {
    background: rgba(2, 102, 200, 0.34);
}

.needInList {
    text-shadow: 2px 2px 8px #0266C8;
    padding: 20px 0 0 0;
    text-align : center;
}
.sensorInList {
    text-shadow: 2px 2px 8px #0266C8;
}


#add-rows div span {
    display: inline;
}

.tinySelectGroup {
    font-size: 9px;
    margin-left: 5px;
}


body {
    /*background:url("../assets/images/4400.jpg") no-repeat fixed center; */
    background:url("../assets/images/R2D2.jpg") no-repeat fixed center;
    /*background:url("../assets/images/51953.jpg") no-repeat fixed center;*/
}

.myerror {
    background-color: #ff6666;
    padding: 10px;
    border-radius: 25px;
    display : none;
}

.theerror {
    text-align: center;
    color : white;
    font-weight: bold;
}

.affix {
    width: 30%;
    position: fixed;
    top : 2%
}


/* Note styles */



.postit1,.postit2,.postit3,.postit4 {
    position:relative;
    padding: 15px;
    -webkit-box-shadow: 0 8px 10px -7px #999;
    -moz-box-shadow: 0 8px 10px -7px #999;
    box-shadow: 0 8px 10px -7px #999;
    -webkit-border-bottom-right-radius: 60px 10px;
    -moz-border-radius-bottomright: 60px 10px;
    border-bottom-right-radius: 60px 10px;
    margin-bottom: 10px;
}

.postit1 {background: #fefabc;}
.postit1 p {border-top-color: #dbd581;}
.postit2 {background: #FDD7DB;}
.postit2 p {border-top-color: #E6A1A8;}
.postit3 {background: #EAF763;}
.postit3 p {border-top-color: #72A201;}
.postit4 {background: #B9EAF6;}
.postit4 p {border-top-color: #6DB4C4;}