

/*This class is each part title : for intentions, widget boxes and sensors*/
.indexTitle {
    min-height : 110px;
    padding : 0 40px 0 40px;
    text-align: center;
    text-justify: inter-word;
}

/**[draggable=true] {
    -moz-user-select:none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: move;
}

#Comparison {
    background-color: #90ee90;
    border: solid 2px #006400;
    cursor: pointer;
    display: block;
    height: 70px;
    width: 70px;

}

#0 {
    background-color: #add8e6;
    border: solid 2px darkblue;
    margin-bottom: 14px;
    padding: 7px;
}*/