/**
Style sheet for the layout picking modal
*/
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100);


body {
    background: #eee;
}


.layoutImg {
    width:80%;
    padding: 1.2em;
    cursor:pointer;
}

.layoutImg:link{
    background-color: rgba(70, 177, 255, 0.29);
}

.layoutImg:visited {
    background-color: rgba(70, 177, 255, 0.29);
}

.layoutImg:hover{
    background-color: rgba(70, 177, 255, 0.29);
}

.layoutImg:active{
    background-color: rgba(70, 177, 255, 0.29);
}