<!DOCTYPE html>
<html>
<head lang="en">
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- JS -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/styles/layouts.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icon.png"/>

    <title>SmartCampus : dashboards</title>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>

    <script src="/bower_components/highstock/highstock.js"></script>

    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <script type="text/javascript" src="http://smartcampus.github.io/plan-visualizer/handling-svg-biblio.js"></script>
    <link rel="stylesheet" href="http://smartcampus.github.io/plan-visualizer/handling-svg-biblio.css">
    <!-- <script src="/bower_components/highstock/modules/exporting.js"></script>
    Only useful if we want to let people print or save the db as an image-->
    <script type="text/javascript">
        $(window).load(function () {
            $('#myDashboardConfigModal').modal('show');
        });
    </script>
</head>
<body>
<div class="page-header text-center">
    <!-- <img src="../assets/images/cat-header.jpg"> -->
    <h1 id="theGeneralTitle"></h1>
</div>

<!--This loading / error part si always the same, no matter the dashboard-->
<div class="row text-center" id="loadingImg">
</div>
<div class="hidden" id="errorOccurred">
    <img src="/assets/images/errorCat.gif" alt="loading">
    <h1 class="text-danger">An error occurred. You should reload the page !</h1>
</div>

<div id="dashboard">
    <!--Insert generated layout here -->
</div>

<!-- Modal -->
<div id="myDashboardConfigModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose your dashboard layout</h4>
            </div>
            <div class="modal-body">
                <p>Click on the layout you want for your app !</p>
                <p>For now, we choose for you how the widgets will be displayed considering the layout.</p>
            <div class="row">
                <a class="col-xs-12 col-md-4 " onclick="layouts.newLayout('halfNHalf', allWidgets, layoutChosen, errorOccurred)" data-dismiss="modal">
                    <img class="well layoutImg" src="/assets/images/layouts/halfNhalf.png"/>
                </a>
                <a class="col-xs-12 col-md-4" onclick="layouts.newLayout('oneThirdTwoThirds', allWidgets, layoutChosen, errorOccurred)" data-dismiss="modal">
                    <img class="well layoutImg" src="/assets/images/layouts/oneThirdTwoThirds.png"/>
                </a>
                <a class="col-xs-12 col-md-4" onclick="layouts.newLayout('threeThirds', allWidgets, layoutChosen, errorOccurred)" data-dismiss="modal">
                    <img class="well layoutImg" src="/assets/images/layouts/threeThirds.png"/>
                </a>
            </div>
            </div> <!--modal-body-->
            <div class="modal-footer">
            </div> <!--modal-footer -->
        </div> <!--modal-content-->
    </div> <!--modal-dialog -->
</div> <!--modal-->


</body>

<script src="/scripts/services/constants.js"></script>
<script src="/scripts/services/retrieveData.js"></script>
<script src="/scripts/services/generateWidgets.js"></script>
<script src="/scripts/services/generateLayout.js"></script>

<script src="/scripts/controllers/layoutChoice.js"></script>

<script src="/scripts/controllers/dashboard.js"></script>


<footer>
    <script>
        $(function () {
            $("footer").load("footer.html")
        });
    </script>
</footer>
</html>