<!DOCTYPE html>
<html lang="fr">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--importing our own CSS files -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/index.css">

    <!--TETRIS CSS-->
    <link rel="stylesheet" src="/libs/blockrain/blockrain.css">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icon.png"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!--TETRIS & KONAMI libs-->
    <script type="text/javascript" src="/bower_components/konami-code/src/jquery.konami.min.js"></script>
    <script type="text/javascript" src="/libs/blockrain/blockrain.jquery.js"></script>


    <!-- JS -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

</head>

<body>

<div class="container">
    <div class="page-header text-center">
       <!-- <img src="../assets/images/cat-header.jpg"> -->
        <h1>SmartCampus : dashboards</h1>
        <p class="lead">Welcome on our dashboards' generation web app !</p>
    </div>

    <div class="row">

        <!--  WHAT -->
        <div class="col-xs-4 col-md-4 col-lg-4 text-center" style="z-index: 3;">

            <div data-spy="affix" data-offset-top="200">
                <div class="row indexTitle">
                    <h3>How do you want to visualize the data ?</h3>
                    <p>For each widget, choose your(s) intent(s).</p>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="add-need"><!-- Insertion of content here--></div>
                    </div>
                </div>
            </div>

        </div>


        <!--  COMPOSITION -->
        <div class="col-xs-4 col-md-4 col-lg-4 text-center" style="z-index: 2;">

            <div class="row indexTitle">
                <h3>Composition</h3>
                <p>Define the widgets you want to see in your dashboard under here.</p>
            </div>

            <div class="panel panel-default" style="min-height: 410px;">
                <div class="panel-body">
                    <div id="add-rows"><!-- Insertion of content here--></div>
                </div>
                <div class="btn btn-default" onclick="addAWidget()"><span class="glyphicon glyphicon-plus"></span></div>

            </div>

        </div>

        <!--  WHERE -->
        <div class="col-xs-4 col-md-4 col-lg-4 text-center" style="z-index: 3;">

            <div data-spy="affix" data-offset-top="200">

                <div class="row indexTitle">
                    <h3>Which sensors do you want to use ?</h3>
                    <p>For each widget, choose your sensor(s).</p>
                </div>

                <div class="panel panel-default" style="min-height: 410px;">

                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" onclick="displayOption(true)">Hierarchical</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" onclick="displayOption(false)">List</button>
                        </div>
                    </div>

                    <ol class="breadcrumb" style="margin-bottom: 0px;">
                        <!-- Insertion of content here-->
                    </ol>

                    <div class="filtersOptions" style="display:none">
                        <div class="row">
                            <div class="col-sm-3">Search : </div>
                            <input type="text" id="search" placeholder="Search by sensors name">
                        </div>
                        <div class="row">
                            <div class="col" id="filters">
                                <!-- insert elements -->
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="panel-body">
                        <div id="add-captors"><!-- Insertion of content here--></div>
                        <div id="list-captors" style="display:none"><!-- Insertion of content here--></div>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <div class="text-right">
        <!-- Button to trigger modal -->
        <button type="button" id="dateButton" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Select a date</button>

        <button id="generateButton" class="btn btn-success" onclick="declareNeeds()">Generate !</button>

        <form class="form-inline" id="dashboardNameForm" style="display: none;">
            <div class="form-group input-group">
                <input class="form-control" id="dashboardName" placeholder="Your dashboard's name">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                  </button>
              </span>
            </div>
        </form>
    </div>
    </div>
</div>

<div class="col-md-offset-5 tetris"></div>


<!-- Modal for date-->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select beginning and ending dates</h4>
            </div>
            <div class="modal-body">
                <div class="myerror">
                    <!-- insert error -->
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        From :
                        <div class='input-group date' id='beginTime1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        Until :
                        <div class='input-group date' id='endTime1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="validDates()">Save changes</button>
            </div>
        </div>
    </div>
</div>

</body>

<script src="/scripts/services/constants.js"></script>
<script src="/scripts/services/expressNeeds.js"></script>
<script src="/scripts/controllers/main.js"></script>

<footer>
    <script>
        $(function () {
            $("footer").load("footer.html")
        });
    </script>
</footer>
</html>
