<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard configurables SmartCampus</title>
    <!-- TODO : import d'une lib de visu, installation via package.json pour dev + facile-->
</head>
<body>
<div>Coucou !</div>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>
<script src="./bower_components/jquery/src/jquery.js"></script>
<script src="./bower_components/highcharts/highcharts.js"></script>
<script src="./bower_components/highcharts/highcharts-more.js"></script>
<script src="./scripts/main.js"></script>
</html>