<!DOCTYPE html>
<html lang="fr">

<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icon.png" />

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
   <!-- JS -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>


</head>

<body>

<div class="container">

    <div class="page-header" style="text-align: center">
        <h1>SmartCampus : dashboards</h1>
        <p class="lead">Welcome on our dashboards' generation web app !</p>
    </div>


    <div class="row">

        <!--  WHAT -->
        <div class="col-xs-4 col-md-4 col-lg-4  text-center" style="z-index: 3;">

            <div class="row" style="min-height : 110px; padding : 0 40px 0 40px;text-align: center; text-justify: inter-word;">
                <h3>How do you want to visualize the data ?</h3>
                <p>For each widget, choose your(s) intent(s).</p>
            </div>

            <div class="panel panel-default" style="max-height: 410px;min-height: 410px;">
                <div class="panel-body">
                    <div id="add-need"><!-- Insertion of content here--></div>
                </div>
            </div>

        </div>


        <!--  COMPOSITION -->
        <div class="col-xs-4 col-md-4 col-lg-4 text-center" style="z-index: 2;">

            <div class="row" style="min-height : 110px; padding : 0 40px 0 40px;text-align: center; text-justify: inter-word;">
                <h3>Composition</h3>
                <p>Define the widgets you want to see in your dashboard under here.</p>
            </div>

            <div class="panel panel-default" style="max-height: 410px;min-height: 410px;">
                <div class="panel-body">
                    <div id="add-rows"><!-- Insertion of content here--></div>
                </div>
            </div>

        </div>

        <!--  WHERE -->
        <div class="col-xs-4 col-md-4 col-lg-4 text-center" style="z-index: 3;">

            <div class="row" style="min-height : 110px; padding : 0 40px 0 40px;text-align: center; text-justify: inter-word;">
                <h3>Which sensors do you want to use ?</h3>
                <p>For each widget, choose your sensor(s).</p>
            </div>


            <div class="panel panel-default" style="min-height: 410px;">

                <ol class="breadcrumb">
                    <!-- Insertion of content here-->
                </ol>

                <div class="panel-body">
                    <div id="add-captors"><!-- Insertion of content here--></div>
                </div>
            </div>

        </div>


    </div>

    <div class="text-right" id="generateButton">
        <button type="button" onclick="declareNeeds()" class="btn btn-success">1 - Declare my widgets</button>
        <a type="button" href="dashboard.html" class="btn btn-success">2 - Generate</a>
    </div>

</div>

</body>
<script src="/scripts/model/constants.js"></script>
<script src="/scripts/model/expressNeeds.js"></script>
<script src="/scripts/controllers/main.js"></script>

<footer>
    <script>
        $(function () {
            $("footer").load("footer.html")
        });
    </script>
</footer>
</html>