<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Smartcampus : the map !
    </title>
    <!-- Jquery library -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Pour bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/dashboard.css">

    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bibliothèque D3.js -->

    <!-- Les trucs d'Etienne-->


</head>
<body>


<div id="left2" class="col-md-6">

    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <script type="text/javascript" src="http://smartcampus.github.io/plan-visualizer/handling-svg-biblio.js"></script>
    <link rel="stylesheet" href="http://smartcampus.github.io/plan-visualizer/handling-svg-biblio.css">

    <div id="left2Map"></div>
    <h3>Caption :</h3>
    <div class="col-md-4">
        <img class="sensorIcon" src="/assets/images/sensorIcons/door.png"/>Door sensor
    </div>
    <div class="col-md-4">
        <img class="sensorIcon" src="/assets/images/sensorIcons/sound.png"/>Sound sensor
    </div>
    <div class="col-md-4">
        <img class="sensorIcon" src="/assets/images/sensorIcons/ac.png"/>AC sensor
    </div>
    <div class="col-md-4">
        <img class="sensorIcon" src="/assets/images/sensorIcons/heating.png"/>Heating sensor
    </div>
    <div class="col-md-4">
        <img class="sensorIcon" src="/assets/images/sensorIcons/energy.png"/>Energy sensor
    </div>
    <div class="col-md-4">
        <img class="sensorIcon" src="/assets/images/sensorIcons/window.png"/>Window sensor
    </div>
    <div class="col-md-4">
        <img class="sensorIcon" src="/assets/images/sensorIcons/light.png"/>Light sensor
    </div>
    <div class="col-md-4">
        <img class="sensorIcon" src="/assets/images/sensorIcons/temperature.png"/>Temperature
        sensor
    </div>
</div>
</body>
<script type="text/javascript" src="/scripts/controllers/map.js"></script>

</html>