<!DOCTYPE html>
<html>
<head lang="en">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script>
        $(function () {
            $("head").load("header.html")
        });
    </script>
</head>
<body>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</body>


<footer>
    <!-- The lib dependencies are added in the footer -->
    <script>
        $(function () {
            $("footer").load("footer.html")
        });
    </script>
</footer>
<script src="/bower_components/highcharts/highcharts.js"></script>
<script src="/bower_components/highcharts/highcharts-more.js"></script>
<script src="/scripts/main.js"></script>
</html>