<!DOCTYPE html>
<html>
<head lang="en">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script>
        $(function () {
            $("head").load("header.html")
        });
    </script>
</head>
<body>

    <h1 style="text-align: center">Summer dashboard</h1>

    <div id="states" style="display : flex; width: 100%; margin: 40px 0 40px 0;">
        <div style="width : 60%; text-align: center">Climatisation State :
            <span id="climState" style="font-size: large">open</span>
        </div>
        <div style="width : 40%; text-align: center">Windows State :
            <span id="windowState" style="font-size: large">open</span>
        </div>
    </div>


    <div id="container" style="display : flex; width: 100%; margin: 0 auto;">
        <div id="c1" style="width : 60%; border: solid"></div>
        <div id="c2" style="width : 40%; border: solid"></div>
    </div>

</body>


<footer>
    <!-- The lib dependencies are added in the footer -->
    <script>
        $(function () {
            $("footer").load("footer.html")
        });
    </script>
</footer>
<script src="/bower_components/highcharts/highcharts.js"></script>
<script src="/bower_components/highcharts/highcharts-more.js"></script>
<script src="/scripts/main.js"></script>
</html>