<!DOCTYPE html>
<html>
<head lang="en">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script>
        $(function () {
            $("head").load("header.html")
        });
    </script>
</head>

<body>

    <h1 style="text-align: center">Surrounding dashboard</h1>

    <div class="row"  style="display : flex; width: 100%; margin: 0 auto;">
        <div class="col-md-6" id="c1"></div>
        <div class="col-md-6" id="c2"></div>
    </div>

    <div class="row"  style="display : flex; width: 100%; margin: 0 auto;">
        <div class="col-md-6" id="cam1"></div>
        <div class="col-md-6" id="cam2"></div>
    </div>

    <div class="row"  style="display : flex; width: 100%; margin: 0 auto;">
        <div class="col-md-6" id="g1"></div>
        <div class="col-md-6" id="g2"></div>
    </div>

</body>

<footer>
    <!-- The lib dependencies are added in the footer -->
    <script>
        $(function () {
            $("footer").load("footer.html")
        });
    </script>
</footer>

<script src="/bower_components/highcharts/highcharts.js"></script>
<script src="/bower_components/highcharts/highcharts-more.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/model/surrounding.js"></script>
</html>