<!DOCTYPE html>
<html lang="fr">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--importing our own CSS files -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/index.css">

    <!--TETRIS CSS-->
    <link rel="stylesheet" src="/libs/blockrain/blockrain.css">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icon.png"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!--TETRIS & KONAMI libs-->
    <script type="text/javascript" src="/bower_components/konami-code/src/jquery.konami.min.js"></script>
    <script type="text/javascript" src="/libs/blockrain/blockrain.jquery.js"></script>


    <!-- JS -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/bower_components/highstock/highstock.js"></script>

</head>

<body>


<div class="container">
    <div class="row" style="width: 100%; height: 100vh">
        <div id="sortable1" class="col-md-5 connectedSortable"  style="border: solid; height: 90vh">
            <div class="draggable">
                <div class="header">
                    <h1></h1>
                </div>
                <div class="body">
                    <div id="c1"></div>
                </div>
            </div>
            <div class="draggable">
                <div class="header">
                    <h1>Header 2</h1>
                </div>
                <div class="body">
                    <div id="c2"></div>
                </div>
            </div>
        </div>
        <div id="sortable2" class="col-md-7 connectedSortable"  style="border: solid; height: 90vh">

        </div>
    </div>
</div>


</body>

<script src="/scripts/services/constants.js"></script>
<script src="/scripts/services/expressNeeds.js"></script>
<script src="/scripts/controllers/test2.js"></script>

<footer>
    <script>
        $(function () {
            $("footer").load("footer.html")
        });
    </script>
</footer>
</html>
