<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- JS -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icon.png" />

    <title>SmartCampus : dashboards</title>

    <script src="/bower_components/highstock/highstock.js"></script>
    <!-- <script src="/bower_components/highstock/modules/exporting.js"></script>
    Only useful if we want to let people print or save the db as an image-->
</head>
<body>
<div class="col-md-6" id="c2" style="height: 400px; min-width: 310px"></div>

<script>
    var countingArray = [];
    countingArray[0] = {name:"first", data:[[1, 10], [2, 12]]};
    countingArray[1] = {name:"second", data:[[1, 14], [2, 16]]};

    $('#c2').highcharts('StockChart', {

        chart: {

            type: 'column',

            zoomType: 'x'

        },

        xAxis: {

            type: 'datetime'

        },

        yAxis: [

            {

                min: 0,

                max: 100,

                title: {

                    text: '% of time AC is on',

                    style: {

                        color: Highcharts.getOptions().colors[0]

                    }

                },

                labels: {

                    format: '{value} %',

                    style: {

                        color: Highcharts.getOptions().colors[0]

                    }

                },

                style: {

                    color: Highcharts.getOptions().colors[0]

                },

                opposite: 0,

                plotLines: []

            },

            {

                min: 0,

                max: undefined,

                title: {

                    text: 'Nb of times the window got opened',

                    style: {

                        color: Highcharts.getOptions().colors[1]

                    }

                },

                labels: {

                    format: '{value} ',

                    style: {

                        color: Highcharts.getOptions().colors[1]

                    }

                },

                style: {

                    color: Highcharts.getOptions().colors[1]

                },

                opposite: 1,

                plotLines: []

            }

        ],

        tooltip: {

            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',

            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +

            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',

            footerFormat: '</table>',

            shared: true,

            useHTML: true

        },

        series: [

            {

                name: countingArray[0].name,

                data: countingArray[0].data,

                dataGrouping: {

                    forced: true,

                    approximation: 'average',

                    groupPixelWidth: 50

                },

                yAxis: 0

            },

            {

                name: countingArray[1].name,

                data: countingArray[1].data,

                dataGrouping: {

                    forced: true,

                    approximation: 'sum',

                    groupPixelWidth: 50

                },

                yAxis: 1

            }

        ]

    });
</script>
</body>
</html>