<!DOCTYPE html>
<html lang="fr">

<head>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script>
        $(function () {
            $("head").load("header.html");
        });
    </script>
</head>

<body>

<div class="container">

    <div class="page-header" style="text-align: center">
        <h1>SmartCampus : dashboards</h1>
        <p class="lead">Welcome on our dashboards' generation web app !</p>
    </div>


</div>

</body>

<script src="/scripts/controllers/test.js"></script>

<footer>
    <script>
        $(function () {
            $("footer").load("footer.html")
        });
    </script>
</footer>
</html>